html, body
{
    padding-top: 10px;

}
a.Link{
    padding-bottom: 10px;
    margin-top: 25px;
    border: 2px solid royalblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: ghostwhite;
    background: royalblue;
}
form.center{
    margin-top: 250px;
    padding-top: 10px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: black;
}
.Bild {
    width: 25%;
    height: auto;
}
.button{
    width: 50%;
    background-color: royalblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
}